@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

.p-f-f {
    font-family: 'Work Sans', sans-serif;
}

/* .hide {
    display: none;
}  */


* {
    margin: 0px;
    padding: 0px;
}

.nav {
    height: 110px;
    background-color: #FFF;
    box-shadow: 0px 0px 20px 0px lightgrey;
    display: flex;
    justify-content: space-around;

}

.nav-title {
    display: flex;
    align-items: center;
}

.nav-title img {
    width: 86px;
    height: 40px;
}

.heading-title {
    text-align: center;
    font-size: 2.9rem;
    font-weight: 700;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav-btn {
    width: 262px;
    height: 56px;
    border: none;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    color: #3C354F;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 17px 50px 18px 24px;
    text-indent: 10px;

}

.nav-menu li {
    list-style: none;
    color: #3C354F;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
}



/* <><><><banner section<><><>< */



.banner-section {
    display: flex;
    justify-content: center;
    gap: 220px;
    background-image: url("../images/Group14.png");
    background-position: cover;
    background-repeat: no-repeat;
}

.banner-content {

    align-items: center;
    margin-top: 120px;
}


.banner-title {
    color: #0B0223;
    font-family: 'Work Sans', sans-serif;
    font-size: 3rem;
    font-weight: 600;
}


.banner-second-title {
    font-family: 'Work Sans', sans-serif;
    font-size: 6rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-content p {
    color: #534C64;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 15px;



}

.button {
    margin-top: 30px;
}

.btn-primary {
    border-radius: 48px;
    border: 0PX;
    padding: 21px 40px;
    background: #FF42A5;
    color: #FFF;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}

.btn {
    border-radius: 48px;
    border: 0PX;
    padding: 21px 40px;
    background: #4EC5F7;
    color: #FFF;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}

.banner-img img {
    margin-top: 30px;
}





/* <>><><><>< section two  <>><><><  */



.section-two-content {
    text-align: center;
    margin-top: 30px;
}


.section-two-title {
    color: #0B0223;
    font-family: 'Work Sans', sans-serif;
    font-size: 3rem;
    font-weight: 700;
}

.section-two-span-title {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-two-description {
    color: #534C64;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 20px;
}

.box {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.box div p {
    color: #534C64;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
}



/*<><><>< section three ><><><>*/



.section-three {
    display: flex;
    justify-content: center;
    gap: 250px;
    margin-top: 120px;

}

.section-three-title {
    color: #0B0223;
    font-family: 'Work Sans', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    text-align: right;
}

.section-three-span-title {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.description {
    text-align: right;
}


.section-three-content {
    margin-top: 180px;
}



.small-img {
    position: relative;
    top: -300px;
    left: -150px;

}

/* <><<><><> section four <><><>< */


.my-btn {
    background: #FFF;
    align-items: center;
    display: flex;
    padding: 10px 15px;
    border-radius: 50px;
    border: none;
    color: #0B0223;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.first-line {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px 300px ;
margin-bottom: 50px;
  
    /* display: flex; */
    /* align-items: center; */
    /* text-align: center; */
    justify-content: center;
    gap: 30px;


}

.my-btn img{
    width: 40px;
    height: 40px;
    gap: 10px;
}

/* .second-line {
 
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
} */

.my-btn:hover{
  border: 1px solid  #FF42A5 ;
  color:  #FF42A5 ;
  background-color: lightgray;
}